<!--轮播-->
<div class="hot left" id="hot">
	<div class="num"><a class="curr"></a><a></a><a></a><a></a></div>
	<ul>
		<li class="def"><a href="#"><img src="/public/upload/hot/1.jpg" /></a></li>
		<li><a href="#"><img src="/public/upload/hot/2.jpg" /></a></li>
		<li><a href="#"><img src="/public/upload/hot/3.jpg" /></a></li>
		<li><a href="#"><img src="/public/upload/hot/4.jpg" /></a></li>
	</ul>
</div>
<script src="/public/home/slideBox.js"></script>
<script>
	slideBox("#hot",5000);  //焦点图切换
</script>