<div class="main-menu-wrapper">
			<div class="container">
				<div class="main-menu-mobile">菜单
					<span class="main-menu-toggle"><i class="fa fa-cutlery"></i></span>
				</div>
				<div class="vertical-menu-wrapper visible-lg">
					<h4 class="title"><span>全部美食分类</span><i class="fa fa-bars"></i></h4>
					<div class="vertical-menu">
						<ul class="vertical-menu-list" style="height: 390px;">
							<li class="list-name" style="">
								<a href="prolist.php?cid=1">
									<img src="/public/common/main/imgs/shucai-2-20x20.png" class="icon-menu">
									<span class="menu-title">健康果蔬</span>
								</a>
								<div class="submenu-wrapper">
									<div class="submenu-content">
										<a class="basic" href="prolist.php?cid=1">水果</a>
										<a class="basic" href="prolist.php?cid=1">蔬菜</a>
										<a class="basic" href="htprolist.php?cid=1">其它</a>
									</div>
								</div>
							</li>

							<li class="list-name" style="">
								<a href="prolist.php?cid=5">
									<img src="/public/common/main/imgs/shucai-5-20x20.png" class="icon-menu"> <span class="menu-title">异国料理</span>
								</a>
								<div class="submenu-wrapper" style="width: 880px">
									<div class="submenu-content">
										<div class="row">
											<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
												<div class="submenu-category-wrapper vertical">
													<h4 class="title"><a href="prolist.php?cid=5">日韩料理</a></h4>
													<ul>
														<li>
															<a class="basic" href="prodetails.php?pid=31">辣白菜五花肉千层锅</a>
														</li>
													</ul>
												</div>
												<div class="submenu-category-wrapper vertical">
													<h4 class="title"><a href="prolist.php?cid=5">法国菜</a></h4>
													<ul>
														<li>
															<a class="basic" href="prodetails.php?pid=39">法式橙鹅</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
												<div class="submenu-category-wrapper vertical">
													<h4 class="title"><a href="prolist.php?cid=5">墨西哥菜</a></h4>
													<ul>
														<li>
															<a class="basic" href="prodetails.php?pid=35">墨西哥卷</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
												<div class="submenu-product-list-wrapper">
													<div class="product-block">
														<div class="product-image">
															<a href="prodetails.php?pid=31"><img class="img-responsive" src="/public/common/main/imgs/product-1-200x200.jpg"></a>
														</div>
														<div class="product-info">
															<a class="name" href="prodetails.php?pid=31">辣白菜五花肉</a>
															<div class="price">
																<span class="price-new">￥22.00</span>
															</div>
														</div>
													</div>
													<div class="product-block">
														<div class="product-image">
															<a href="prodetails.php?pid=100"><img class="img-responsive" src="/public/common/main/imgs/product-20-200x200.jpg"></a>
														</div>
														<div class="product-info">
															<a class="name" href="prodetails.php?pid=100">冬阴功虾</a>
															<div class="price">
																<span class="price-new">￥56.00</span>
																<span class="price-old">￥88.00</span> </div>
														</div>
													</div>
													<div class="product-block">
														<div class="product-image">
															<a href="prodetails.php?pid=101"><img class="img-responsive" src="/public/common/main/imgs/product-26-200x200.jpg"></a>
														</div>
														<div class="product-info">
															<a class="name" href="prodetails.php?pid=101">芝士焗土豆</a>
															<div class="price">
																<span class="price-new">￥66.66</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
												<div class="submenu-image-wrapper">
													<a href="prodetails.php?pid="><img src="/public/common/main/imgs/banner7.jpg" alt="" class="img-responsive"></a>
												</div>
												<div class="submenu-image-wrapper">
													<a href="prodetails.php?pid="><img src="/public/common/main/imgs/banner8.jpg" alt="" class="img-responsive"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="list-name" style="#">
								<a href="prolist.php?cid=6">
									<img src="/public/common/main/imgs/shucai-4-20x20.png" class="icon-menu"> <span class="menu-title">甜蜜一下</span>
								</a>
								<div class="submenu-wrapper" style="width: 880px">
									<div class="submenu-content">
										<div class="row">
											<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
												<div class="submenu-category-wrapper vertical">
													<h4 class="title"><a href="prolist.php?cid=6">蛋糕</a></h4>
													<ul>
														<li>
															<a class="basic" href="prodetails.php?pid=46">慕斯蛋糕</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=47">长崎蛋糕</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=48">酸奶冻芝士蛋糕</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=49">冰淇淋蜂蜜厚多士</a>
														</li>
													</ul>
												</div>
												<div class="submenu-category-wrapper vertical">
													<h4 class="title"><a href="prolist.php?cid=6">饼干</a></h4>
													<ul>
														<li>
															<a class="basic" href="prodetails.php?pid=54">薄荷小饼</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=55">蔓越莓曲奇</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=59">金盏花玄饼</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=60">牛轧糖拉丝饼干</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
												<div class="submenu-category-wrapper vertical">
													<h4 class="title"><a href="prolist.php?cid=5">派/冰淇淋</a></h4>
													<ul>
														<li>
															<a class="basic" href="prodetails.php?pid=50">樱桃派</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=51">菠萝派</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=52">水果绵绵冰</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=53">爪爪冰棍</a>
														</li>
													</ul>
												</div>
												<div class="submenu-category-wrapper vertical">
													<h4 class="title"><a href="prolist.php?cid=6">其他</a></h4>
													<ul>
														<li>
															<a class="basic" href="prodetails.php?pid=61">麻薯</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=62">雪梅娘</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=63">木糠杯</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=64">铜锣烧</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
												<div class="submenu-image-wrapper">
													<a href="prodetails.php?pid="><img src="/public/common/main/imgs/banner14.jpg" alt="" class="img-responsive"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="list-name" style="">
								<a href="prolist.php?cid=4">
									<img src="/public/common/main/imgs/shucai-8-20x20.png" class="icon-menu"> <span class="menu-title">地方菜</span>
								</a>
								<div class="submenu-wrapper" style="width: 900px">
									<div class="submenu-content">
										<div class="row">
											<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
												<div class="submenu-category-wrapper vertical">
													<h4 class="title"><a href="prolist.php?cid=4">江浙菜</a></h4>
													<ul>
														<li>
															<a class="basic" href="prodetails.php?pid=65">红烧肉</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=66">麻婆豆腐</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=67">茶香排骨</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=68">蒜蓉粉丝蒸虾</a>
														</li>
													</ul>
												</div>
												<div class="submenu-category-wrapper vertical">
													<h4 class="title">
							    			<a href="prolist.php?cid=4">川香菜</a>
							    		</h4>
													<ul>
														<li>
															<a class="basic" href="prodetails.php?pid=69">毛血旺</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=70">沸腾虾</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=71">水煮牛肉</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=72">剁椒鱼头</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
												<div class="submenu-category-wrapper vertical">
													<h4 class="title"><a href="prolist.php?cid=4">粤菜</a></h4>
													<ul>
														<li>
															<a class="basic" href="prodetails.php?pid=73">三色肠粉</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=74">咖喱鱼蛋</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=75">菠萝油条虾</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=77">港式叉烧肉</a>
														</li>
													</ul>
												</div>
												<div class="submenu-category-wrapper vertical">
													<h4 class="title"><a href="prolist.php?cid=4">西北菜</a></h4>
													<ul>
														<li>
															<a class="basic" href="prodetails.php?pid=78">油泼面</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=79">酱牛肉</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=80">羊肉泡馍</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
												<div class="submenu-category-wrapper vertical">
													<h4 class="title"><a href="prolist.php?cid=4">东北菜</a></h4>
													<ul>
														<li>
															<a class="basic" href="prodetails.php?pid=81">锅包肉</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=82">地三鲜</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=83">煎饼果子</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=84">拔丝地瓜</a>
														</li>
													</ul>
												</div>
												<div class="submenu-category-wrapper vertical">
													<h4 class="title"><a href="prolist.php?cid=4">新疆菜</a></h4>
													<ul>
														<li>
															<a class="basic" href="prodetails.php?pid=86">馕</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=87">大盘鸡</a>
														</li>
														<li>
															<a class="basic" href="prodetails.php?pid=88">羊肉抓饭</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="list-name" style="">
								<a href="prolist.php?cid=7">
									<img src="/public/common/main/imgs/shucai-7-20x20.png" class="icon-menu"> <span id="floor_1" class="menu-title">解渴佳饮</span>
								</a>
								<div class="submenu-wrapper">
									<div class="submenu-content">
										<a class="basic" href="prodetails.php?pid=89">珍珠奶茶</a>
										<a class="basic" href="prodetails.php?pid=90">蜜桃莫吉托</a>
										<a class="basic" href="prodetails.php?pid=91">柠檬西柚水</a>
										<a class="basic" href="prodetails.php?pid=92">巧克力奶昔</a>
										<a class="basic" href="prodetails.php?pid=93">红豆芒果冰</a>
										<a class="basic" href="prodetails.php?pid=94">无酒精版mojito</a>
									</div>
								</div>
							</li>
							<li class="list-name" style="border-bottom: solid 1px #D9D9D9;">
								<a href="prolist.php?cid=8">
									<img src="/public/common/main/imgs/shucai-10-20x20.png" class="icon-menu"> <span class="menu-title">休闲零食</span>
								</a>
								<div class="submenu-wrapper">
									<div class="submenu-content">
										<a class="basic" href="prodetails.php?pid=95">爆米花</a>
										<a class="basic" href="prodetails.php?pid=96">花枝丸</a>
										<a class="basic" href="prodetails.php?pid=97">盐水毛豆</a>
										<a class="basic" href="prodetails.php?pid=98">卤味拼盘</a>
										<a class="basic" href="prodetails.php?pid=99">麻辣牛肉干</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="main-menu-container">
					<ul class="main-menu">
						<?php foreach($data['category1'] as $k=>$v1): if($k<8): ?>
						<li class="parent" style="">
							<a class="with-submenu" href="/?a=find&cid=<?=$v1['id']?>" style="">
								<?=$v1['name']?>
							</a>
							<div class="open-submenu">+</div>
							<div class="submenu submenu-wrapper ">
								<!--如果有子类-->
								<?php if(isset($v1['child'])): 
									foreach($v1['child'] as $v2):?>
								<a class="basic" href="/?a=find&cid=<?=$v2['id']?>"><?=$v2['name']?></a>
								<?php  endforeach; ?>
								<?php  endif; ?>
							</div>
						</li>
						<?php endif; endforeach; ?>
						
					</ul>
				</div>

			</div>
		</div>
