<!DOCTYPE html>
<html dir="ltr" lang="zh_CN" style="" class="hb-loaded">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<script src="/public/common/ajaxForm.js"></script>
		<meta name="csrf_token" content="<?=CSRF_TOKEN?>" />
		<title><?=$this->title?></title>
		
		<style>
			#foot p {
				line-height: 24px;
				margin: 0;
				padding: 2px;
			}
		</style>
	

	
		

		