<div class=" page-builder-wrapper"  style="margin-top:10px;margin-bottom:20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style=""></div>
				<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="">
					<div class="column-builder">
						<div class="module-builder ">
							<div id="panda-home-slider-1846" class="owl-carousel slideshow">
    							<div class="item"><img src="/public/common/main/imgs/index3.jpg"/></div>
    							<div class="item"><img src="/public/common/main/imgs/index4.jpg"/></div>
    							<div class="item"><img src="/public/common/main/imgs/index1.jpg"/></div>
    							<div class="item"><img src="/public/common/main/imgs/index2.jpg"/></div>
  							</div>
							<script type="text/javascript"><!--
							$('#panda-home-slider-1846').owlCarousel({
							  items: 1, //显示数量
							  loop: true, //循环滚动
							  autoplay: true, //自动播放
							  autoplayTimeout: 3000, //自动切换时间（毫秒）
							  autoplayHoverPause: true, //鼠标移动到图片上面时，是否暂停自动播放
							  autoplaySpeed: 300, //自动播放图片切换动画时长
							  navSpeed: 400, //左右切换按钮图片切换动画时长
							  dotsSpeed: 300, //点击图片下方黑点图片切换动画时长
							  nav: true, //是否显示左右切换按钮
							  navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'], //左右切换按钮图标
							  dots: true, //是否显示图片下方黑点
							});
							--></script>
						</div>	
					</div>
				</div>		
			</div>
		</div>
  	</div>