<?php require COMMON_VIEW.'myheader.html' ?>
		
<link href="/public/common/main/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/public/common/main/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/public/common/main/css/custom.css" rel="stylesheet">
<link href="/public/common/main/css/stylesheet.css" rel="stylesheet">
<link href="/public/common/main/css/style.css" rel="stylesheet">
<link href="/public/common/main/css/magnific-popup.css" rel="stylesheet">
<link href="/public/common/main/css/owl.carousel.min.css" type="text/css" rel="stylesheet" media="screen">

<?php require COMMON_VIEW.'top.html' ?>
<?php require COMMON_VIEW.'menuopen.html' ?>	
<!--内容-->
<!--------------------------轮播--------------------------->
<?php require COMMON_VIEW.'myslide.html' ?>
 
  	<!--列表内容-->
	<div class="row divy">
		<div class="listcontain">
	
			<p><strong>甜蜜一下</strong></p>

			<div class="listdiv">
				<h3>慕斯蛋糕</h3>
				<img src='/public/common/image_320/dca47cda51c35fb632489f8d87ddeb5f.jpg' />
				<div class="mybutton">
					<a onclick="addToCart(46,'lvv')">加入购物</a>
					<a href="#">加入收藏</a>
					<a href="prodetails.php?pid=46">查看详情</a>
				</div>
			</div>

			<div class="listdiv">
				<h3>长崎蛋糕</h3>
				<img src='/public/common/image_320/1f5b99c5c98f27f8b40096d4acd541e3.jpg' />
				<div class="mybutton">
					<a onclick="addToCart(47,'lvv')">加入购物</a>
					<a href="#">加入收藏</a>
					<a href="prodetails.php?pid=47">查看详情</a>
				</div>
			</div>
			
			<div class="listdiv">
				<h3>酸奶冻芝士蛋糕</h3>
				<img src='/public/common/image_320/01b6823fba4a4a9ee8077d7b2a64375e.jpg' />
				<div class="mybutton">
					<a onclick="addToCart(48,'lvv')">加入购物</a>
					<a href="#">加入收藏</a>
					<a href="prodetails.php?pid=48">查看详情</a>
				</div>
			</div>
			
			<div class="listdiv">
				<h3>冰淇淋蜂蜜厚多士</h3>
				<img src='/public/common/image_320/44f469e7f01d77f47bc569332aab59ae.jpg' />
				<div class="mybutton">
					<a onclick="addToCart(49,'lvv')">加入购物</a>
					<a href="#">加入收藏</a>
					<a href="prodetails.php?pid=49">查看详情</a>
				</div>
			</div>
			
			<!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">-->
			<div class="listdiv">
				<h3>樱桃派</h3>
				<img src='/public/common/image_320/6cf91f6895ba57cc289a5695b70458d4.jpg' />
				<div class="mybutton">
					<a onclick="addToCart(50,'lvv')">加入购物</a>
					<a href="#">加入收藏</a>
					<a href="prodetails.php?pid=50">查看详情</a>
				</div>
			</div>
			<!--</div>-->
			<!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">-->
			<div class="listdiv">
				<h3>菠萝派</h3>
				<img src='/public/common/image_320/f2a1a2483137b374fcbc7d1456660944.jpg' />
				<div class="mybutton">
					<a onclick="addToCart(51,'lvv')">加入购物</a>
					<a href="#">加入收藏</a>
					<a href="prodetails.php?pid=51">查看详情</a>
				</div>
			</div>
			<!--</div>-->
			<!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">-->
			<div class="listdiv">
				<h3>水果绵绵冰</h3>
				<img src='/public/common/image_320/3923ec90db43eedab0928266c3043033.jpg' />
				<div class="mybutton">
					<a onclick="addToCart(52,'lvv')">加入购物</a>
					<a href="#">加入收藏</a>
					<a href="prodetails.php?pid=52">查看详情</a>
				</div>
			</div>
			<!--</div>-->
			<!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">-->
			<div class="listdiv">
				<h3>爪爪冰棍</h3>
				<img src='/public/common/image_320/32210652f5e583da2cae26038d87a9d8.jpg' />
				<div class="mybutton">
					<a onclick="addToCart(53,'lvv')">加入购物</a>
					<a href="#">加入收藏</a>
					<a href="prodetails.php?pid=53">查看详情</a>
				</div>
			</div>
			<!--</div>-->
			<div class="propage">
				<div class='totalpage'>总共2页&nbsp/&nbsp当前是第1页</div>
				<div class='pageright'>&nbsp;
					<div class='afont'>首页</div>&nbsp;
					<div class='afont'>上一页</div>&nbsp;
					<div class='afont'>1</div>
					<a class='pagenumber' href='/fs/prolist.php?page=2&cid=6'>2</a>&nbsp;
					<a class='pagenumber' href='/fs/prolist.php?page=2&cid=6'>下一页</a>&nbsp;
					<a class='pagenumber' href='/fs/prolist.php?page=2&cid=6'>尾页</a>
				</div>
			</div>
		</div>
	</div>

<?php require COMMON_VIEW.'myfooter.html' ?>
<script src="/public/common/main/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="/public/common/main/js/jquery.countdown.min.js" type="text/javascript"></script>
<script src="/public/common/main/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/public/common/main/js/hm.js"></script>
<script type="text/javascript" src="/public/common/main/js/jquery-1.11.3.min.js" ></script>
<script src="/public/common/main/js/common.js" type="text/javascript"></script>
<script src="/public/common/main/js/jquery.countdown.min.js" type="text/javascript"></script>
<script src="/public/common/main/js/owl.carousel.min.js" type="text/javascript"></script>
<script src="/public/common/main/js/js.cookie.min.js" type="text/javascript"></script>
<script type="text/javascript">
			$('#panda-home-slider-1846').owlCarousel({
				items: 1, //显示数量
				loop: true, //循环滚动
				autoplay: true, //自动播放
				autoplayTimeout: 3000, //自动切换时间（毫秒）
				autoplayHoverPause: true, //鼠标移动到图片上面时，是否暂停自动播放
				autoplaySpeed: 300, //自动播放图片切换动画时长
				navSpeed: 400, //左右切换按钮图片切换动画时长
				dotsSpeed: 300, //点击图片下方黑点图片切换动画时长
				nav: true, //是否显示左右切换按钮
				navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'], //左右切换按钮图标
				dots: true, //是否显示图片下方黑点
			});
			
			function addToCart(pid, username) {
				//alert("加入加入失败了");
				//print(num);
				//alert("测试加入链接");
				window.location = "doAction.php?act=addtocart&pid=" + pid + "&username=" + username + "&num=1";
			}

			function delFromCart(id) {
				if(window.confirm("你确定要将该美食从你的购物车删除吗？")) {
					window.location = "doAction.php?act=delfromcart&pid=" + id;
				}
			}
	</script>
</html>