<?php require COMMON_VIEW.'myheader.html' ?>

<link href="/public/common/main/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/public/common/main/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/public/common/main/css/style.css" rel="stylesheet">
<link href="/public/common/main/css/stylesheet.css" rel="stylesheet">

<script src="/public/common/main/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/public/common/main/js/common.js" type="text/javascript"></script>
<script src="/public/common/main/js/bootstrap.min.js" type="text/javascript"></script>

<style>
	.thisimg{
		margin:0px 82%;
		width: 95%;
	}
	@media only screen and (max-width:767px ) {
		.thisimg{
			margin:0px auto;
		}
	}
</style>
<?php require COMMON_VIEW.'top.html' ?>
<?php require COMMON_VIEW.'menudefault.html' ?>
<div class="row"style="margin:20px auto;text-align: center;">
	<div class="col-lg-5 col-md-4 col-sm-9 col-xs-12">
		<img class="thisimg" src="/public/common/main/imgs/pay.jpg">
	</div>
</div>

<?php require COMMON_VIEW.'myfooter.html' ?>

</html>