body,ul,input,p,dl,dt,dd,h1{margin:0;padding:0;}
ul{list-style:none;}
img{border:0;}/* IE Fix */
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.bold{font-weight:bold;}
.clear{clear:both;}

/*内容盒子*/
.box{width:1220px;margin:0 auto;padding-top:10px;}
.box{*position:relative;}/* IE Fix */

/*提示*/
.tip{position:fixed;top:50%;left:50%;background:#FE8502;color:#fff;border-radius:6px;font-size:13px;box-shadow:3px 3px 15px #FE8502;z-index:1000;}
.tip-wrap{margin:10px 30px;}
/*导航条*/
.service{width:100%;height:70px;margin-top:20px;border-top:1px solid #ddd;overflow:hidden;}
.service ul{margin:0 auto;width:1000px;}
.service li{float:left;margin:10px 50px;}
.footer{width:100%;height:50px;margin-top:10px;border-top:1px solid #eee;text-align:center;padding-top:10px;}

/*首页*/
.slide{width:207px;border:solid #E4393C;border-width:0 2px 2px;background: #FAFAFA;position:absolute;}
.slide{*left:0;}/* IE Fix */
.slide{_top:152px;}/* IE Fix */
.slide .subcate{height:30px;border-bottom:1px solid #fff;font-size:14px;}
.slide .subcate a{color:#333;display:block;width:194px;padding-left: 13px;height: 30px;line-height:30px;font-family:"Microsoft YaHei";}
.slide .subcate .on{background:#fff;color:#E4393C;font-weight:700;border:1px solid #ddd;border-right:0;z-index:21;position:relative;width:185px;text-decoration:none;}
.slide .subitem{width:477px;min-height:238px;background:#fff;border:1px solid #DDD;position:absolute;left:198px;padding:5px 0;z-index:20;}

.slide dl{margin:10px 10px;font-size:13px;color:#ccc;border-bottom:1px solid #eee;overflow:hidden;}
.slide dt{text-align:right;}
.slide dd{float:left;width:375px;}
.slide dl a{padding:0 10px;margin-bottom:10px;display:block;float:left;}
.slide dt a{color: #E4393C;font-weight:700;width:62px;}
.slide dd a{color:#666;border-left:1px solid #ccc;}
.slide dd a:hover{color:#E4393C;}

/*热点图*/
.hot{margin-left:219px;margin-top:8px;width:670px; height:240px; position:relative; overflow:hidden;border:1px solid #ccc;z-index:1;}
.hot .num{ position:absolute;right:15px; bottom:15px; z-index:2;}
.hot .num a{background:#fff;border-radius:10px; width:18px; height:18px;line-height:22px; display:inline-block; text-align:center; margin:0 3px; cursor:pointer;}
.hot .num a.curr{ background:#ff6700;color:#fff;text-decoration: none;}
.hot ul{ position:relative;}
.hot ul li{ position:absolute; display:none;}
.hot ul li.def{display:block;}

/*最新动态*/
.news{text-indent:20px;line-height:35px;width:318px;height:240px;margin-top:10px;background:url(./images/ad01.png);}

/*推荐商品*/
.best{width:100%;min-height:180px;margin-top:13px;border-top:1px solid #ddd;padding-top:10px;overflow:hidden;}
.best .item{margin-left:30px;margin-bottom:10px;width:150px;height:220px;border-radius:8px;padding:10px 6px;border:1px solid #eee;}
.best .item img{width:150px;height:150px;}
.best .item:hover{border:1px solid #ccc;box-shadow:0 0 8px #eee;}
.best .best-title{text-indent:10px;font-family:'Microsoft YaHei';font-size:20px;font-weight:bold;color:#E4393C;margin-bottom:10px;}
.best .goods{margin:9px;}
.best .goods a{font-size:12px;color:#666;max-height:27px;display:block;overflow:hidden;}
.best .goods a:hover{color:#E4393C;}
.best .price{color:#E4393C;font-weight:bold;margin-left:6px;font-family:"Microsoft YaHei";}

/*商品列表页*/
.find{overflow:hidden;}
.find .find-right{width:1000px;margin:20px 0;margin-left:10px;}
.find .filter{border:1px solid #ddd;width:970px;margin:0 auto;}
.find .filter li{line-height:31px;padding:0 10px;border-top:1px dotted #ddd;overflow:hidden;}
.find .filter-title{background:#F7F7F7;border:0!important;}
.find .filter li dl dt{width:70px;text-align:right;float:left;margin-right:5px;}
.find .filter li dl dd{float:left;width:875px;}
.find .filter li a{margin-right:20px;color:#005aa0;white-space:nowrap;}
.find .find .filter li a:hover{color:#E4393C;text-decoration:none;}
.find .filter .curr{background:#DEEFFA;}
.find .find-item{width:1000px;margin:10px auto;}
.find .find-item .item{margin:10px 8px;width:220px;height:290px;border-radius:8px;padding:10px 6px;border:1px solid #eee;}
.find .find-item .item:hover{border:1px solid #ccc;box-shadow:0 0 8px #eee;}
.find .find-item .goods{margin:10px;}
.find .find-item .goods a{font-size:12px;color:#666;max-height:27px;display:block;overflow:hidden;}
.find .find-item .goods a:hover{color:#E4393C;}
.find .find-item .price{color:#E4393C;font-weight:bold;margin-left:8px;font-family:"Microsoft YaHei"}

/* 分页链接 */
.find .find-item .pagelist{padding-top:30px;text-align:right;clear:both;overflow:hidden;padding:10px 0;}
.find .find-item .pagelist a{display:inline-block;margin:0 3px;padding:2px 12px;border:1px solid #ccc;text-decoration:none;color:#808080;font-size:12px;height:24px;line-height:24px;background:#fff;}
.find .find-item .pagelist a:hover{color:#E4393C;border:1px solid #E4393C;}
.find .find-item .pagelist a.curr{border:none;background:#E4393C;border:1px solid #E4393C;color:#fff;}
.find .find-item .pagelist i{display:inline-block;margin:0 5px;color:#808080;font-style:normal;}
.find .find-item .pagelist span{display:inline-block;padding:2px 12px;font-size:12px;height:24px;line-height:24px;color:#bbb;border:1px solid #ccc;background:#fcfcfc;margin:0 3px;}
.find .empty-tip{margin:20px 30px;}

/*左侧商品相关推荐*/
.find .find-left{width:208px;margin:20px 0;border:1px solid #ddd;}
.find .find-left .title{font-weight:bold;margin:10px;color:#777;}
.find .find-left .item{margin:10px 0 10px 13px;}
.find .find-left img{width:180px;}
.find .find-left .goods{margin:9px;}
.find .find-left .goods a{font-size:12px;color:#666;max-height:27px;display:block;overflow:hidden;}
.find .find-left .goods a:hover{color:#E4393C;}
.find .find-left .price{color:#E4393C;font-weight:bold;font-family:"Microsoft YaHei";margin-left:7px;}

/*商品详情页*/
.goodsinfo{overflow:hidden;}
.goodsinfo .now_cat{margin:15px 20px;}
.goodsinfo .now_cat a{color:#666;}
.goodsinfo .now_cat a:hover{color:#E4393C;}
.goodsinfo .pic{width:350px;min-height:300px;margin-left:15px;margin-right:30px;font-size:0}
.goodsinfo .info h1{width:760px;height:34px;font:700 16px/1.5em "Microsoft YaHei";border-bottom:1px dotted #ccc;}
.goodsinfo .info table{margin:15px 0;}
.goodsinfo .info tr{height:40px;}
.goodsinfo .info th{text-align:right;width:80px;}
.goodsinfo .info .price{font-weight:bold;color:#E4393C;font-family:"Microsoft YaHei"}
.goodsinfo .button{height:60px;line-height:60px;}
.goodsinfo .button a{display:block;float:left;width:140px;height:35px;margin:0 20px;line-height:35px;text-align:center;background:#c40000;color:#fff;border-radius:5px;font-family:'Microsoft YaHei';font-size:15px;}
.goodsinfo .button a:hover{text-decoration:none;}
.goodsinfo .button .light{background-color:#ffeded;border:1px solid #c40000;color:#c40000;}
.goodsinfo .cnt-btn{width:20px;height:20px;}
.goodsinfo .num-btn{width:35px;height:18px;}
.goodsinfo .line{clear:both;margin-bottom:30px;}

.goodsinfo .goods-slide{width:200px;border:1px solid #ddd;}
.goodsinfo .goods-slide .title{font-weight:bold;margin:10px;color:#777;}
.goodsinfo .goods-slide .item{margin:10px 0 10px 9px;}
.goodsinfo .goods-slide img{width:180px;}
.goodsinfo .goods-slide .goods{margin:9px;}
.goodsinfo .goods-slide .goods a{font-size:12px;color:#666;max-height:27px;display:block;overflow:hidden;}
.goodsinfo .goods-slide .goods a:hover{color:#E4393C;}
.goodsinfo .goods-slide .price{color:#E4393C;font-weight:bold;font-family:"Microsoft YaHei";margin-left:6px;}

/*商品详情*/
.goodsinfo .desc{width:900px;margin:0 20px;}
.goodsinfo .desc .title{font-weight:bold;padding:0 10px 10px 10px;background:#fefefe;  color: #E4393C;font-family: 'Microsoft YaHei';font-size:18px;}
.goodsinfo .desc .content{border-top:1px solid #ccc;padding:20px 10px;}
.goodsinfo .desc a{color:#07A;}
.goodsinfo .desc p{margin: 5px 0;}
.goodsinfo .desc ul{list-style: disc; margin: 1em 0; padding-left: 40px;}
.goodsinfo .desc img{max-width:870px;}



/*会员中心*/
.usercenter{margin:20px auto;overflow:hidden;}
.usercenter .showinfo{padding:20px;}
.usercenter .showinfo p{margin-bottom:20px;}

.usercenter .menu{float:left;width:130px;padding:10px;border:1px solid #D5E5F5;margin-right:10px;background-color:#F4F7FB;}
.usercenter .menu-photo{width:100px;height:100px;margin:15px auto;padding:2px;background-color:#F4F7FB;cursor:pointer;}
.usercenter .menu-photo img{width:100px;height:100px;border:1px solid #D5E5F5;border-radius:5px;background-color:#F4F7FB;}
.usercenter .menu dl{border-bottom:1px solid #D5E5F5;box-shadow:0 1px 0 #FFF;padding-left:10px;padding-bottom:10px;margin-bottom:10px;font-size:12px;font-family:'Microsoft YaHei';}
.usercenter .menu dl dt{font-weight:bold;line-height:30px;height:30px;}
.usercenter .menu dl dd{padding-left:10px;height:25px;line-height:25px;background:url('./images/ico1.png') no-repeat;}
.usercenter .menu dl dd a{color:#455E65;}
.usercenter .menu dl dd a:hover{color:#7FB8D2;}

.usercenter .content{float:left;width:1035px;padding:0 10px 10px;border:1px solid #D5E5F5;}
.usercenter .content .title{margin-bottom:10px;font-size:14px;border-bottom:1px solid #AED2FF;line-height:30px;height:30px;font-weight:700;text-indent:15px;color:#333;font-family:'Microsoft YaHei';}

.usercenter .content table{border-collapse:collapse;font-size:12px;font-family:Verdana,"Microsoft YaHei";color:#333;}

/*购物车*/
.usercenter .shopcart{width:100%;margin:0 auto;}
.usercenter .shopcart th{border-bottom:2px solid #B2D1FF;font-weight:normal;height:35px;line-height:23px;}
.usercenter .shopcart td{height:55px;}
.usercenter .shopcart tr.item{background-color:#FAFCFF;border-bottom:1px dotted #84B3FD;}
.usercenter .shopcart .setNum{padding:0;width:16px;height:16px;color:#FFF;background-color:#BDBDBD;border:0;cursor:pointer;border-radius:2px;}
.usercenter .shopcart .setNum:hover{background-color:#FF9900;}
.usercenter .shopcart .item-num{margin:5px;width:35px;text-align:center;height:20px;line-height:20px;padding:0 3px;}

.usercenter .shopcart .item-price{color:#FF3334;font-weight:bold;font-family:"Microsoft YaHei";}
.usercenter .shopcart .price{color:#FF3334;font-weight:bold;font-family:"Microsoft YaHei";font-size:16px;}
.usercenter .shopcart .act td{background:#fff;border-bottom:0;}
.usercenter .shopcart a{color:#3366D4;}
.usercenter .shopcart .order-btn{color:#FFF;font-size:14px;font-weight:600;cursor:pointer;margin:0 20px;background:#FE8502;border:1px solid #FF6633;border-radius:5px 5px 5px 5px;padding:6px 12px;}
.usercenter .shopcart .order-btn:hover{background:#FF6600;}

/*收货地址*/
.usercenter .addr{width:500px;margin-left:30px;}
.usercenter .addr tr{border-bottom:1px solid #ddd;height:40px;line-height:40px;}
.usercenter .addr th{text-align:right;}
.usercenter .addr-a{color:#FFF;font-size:14px;font-weight:600;cursor:pointer;background:#FE8502;border:1px solid #FF6633;border-radius:5px 5px 5px 5px;padding:6px 12px;margin:10px 0 10px 80px;display:inline-block;}
.usercenter .addr-a:hover{background-color:#FF6600;text-decoration:none;}
.usercenter .addr .act input{padding:3px 15px;margin-right:10px;cursor:pointer;}
.usercenter .addr select{padding:3px 2px;border:1px solid #ccc;color:#333;}
.usercenter .addr input[type=text]{padding:3px 2px;border:1px solid #ccc;color:#333;}

/*订单列表*/
.usercenter .order-top{width:100%;background-color:#EDF5FF;border:1px solid #C4D5E0;border-bottom:0;}
.usercenter .order-top .act{text-align:right;padding-right:22px;}
.usercenter .order-top th{padding:10px;font-weight:normal;text-align:left;text-indent:12px;}
.usercenter .order-top td{padding:10px;}
.usercenter .order-top span{color:#390;}
.usercenter .order-top strong{font-family:"Microsoft YaHei";color:#f60;}
.usercenter .order-top a{color:#7466CC;}
.usercenter .order-top a:hover{color:#FF542F;}

.usercenter .order{width:100%;margin-bottom:10px;}
.usercenter .order td{border:1px solid #C4D5E0;padding:10px 20px;}
.usercenter .order a{color:#0579C6;}
.usercenter .order span{font-family:"Microsoft YaHei";color:#f60;}
