body{margin:0;padding:0;color:#555;background:#eee;background-image:url(./images/bg.png);font-family:Helvetica,simsun;font-size:16px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}

/*顶部*/
.top{min-width:620px;height:42px;background:#444;background:url('./images/top_bg.png');line-height:42px;color:#fff;font-size:14px;}
.top h1{margin:0;padding:0;height:42px;font-size:19px;color:#fff;margin-left:40px;font-weight:bold;letter-spacing:2px;float:left;}
.top h1 span{color:#ddd;font-weight:normal;}
.top ul{margin:0;padding:0;margin-right:50px;float:right;list-style:none;}
.top li{float:left;margin-left:15px;}
.top a{color:#ccc;}

/*登录页*/

.login{width:400px;background:#fff;margin:7% auto;padding:50px;box-shadow:0 0 15px #ccc;}
.login h1{font-size:24px;color:#555;text-align:center;text-shadow: 1px 1px 1px #ccc;}
.login img{cursor:pointer;}
.login table{width:100%;height:300px;margin:0 auto;margin-top:20px;}
.login th{text-align:right;font-weight:normal;}
.login .input{width:250px;height:20px;border:1px solid #ddd;padding:5px;color:#666;font-size:20px;}
.login .login_btn{width:80px;height:30px;margin:0 auto;background:#0077A2;color:#fff;border:1px solid #DEEFFA;cursor:pointer;}
.login .login_btn:hover{background:#005580;}

/*提示*/
.tip{position:fixed;top:50%;left:50%;background:#3A81C4;color:#fff;border-radius:6px;font-size:13px;box-shadow:3px 3px 15px #6b6969;z-index:1000;}
.tip-wrap{margin:10px 30px;}

/*顶部以下*/
.main{position:absolute;top:43px;left:0px;right:0px;bottom:0px;min-width:700px;}
.main{*height:100%;}/*IE Fix*/

/*左侧菜单*/
.menu{width:20%;height:100%;min-width:150px;float:left;}
.menu .box{margin-left:20px;margin-top:15px;border: 1px solid #ccc;box-shadow: 0px 1px 0px #ffffff;border-radius:3px;background:#fff;}
.menu .box .head{height:43px;border-bottom:1px solid #aaa;background:url(./images/menu_top_bg.png);color:#333;text-shadow: 1px 1px 1px #fff;}
.menu .box .head i{background:url(./images/menu_top_icon.png);width:17px;height:14px;display:block;margin:15px 5px 0 15px;float:left;}
.menu .box .head div{float:left;margin-top:12px;}
.menu ul{margin:0;padding:0;list-style:none;}
.menu li{height:36px;}
.menu a{height:36px;display:block;text-decoration:none;color:#555;text-indent:20px;line-height:36px;font-size:14px;}
.menu a:hover{height:34px;line-height:34px;background:#EAF4FB;color:#005580;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background: #eee;}
.menu .curr{background:url(./images/menu_curr_bg.png) !important;color:#fff !important;border:0 !important;height:36px !important;line-height:36px !important;}

/*右侧内容*/
.content{position:absolute;top: 0px;right:0px;left:21%;bottom:0;overflow-y:auto;font-size:14px;}
.content .item{line-height:40px;margin-top:18px;margin-left:15px;margin-bottom:30px;width:98%;overflow:hidden;}
.content .title{color:#444;margin-bottom:10px;font-family:'Microsoft YaHei';font-size:22px;}
.content .mssage{line-height:35px;background:#FFF;color:#0088B3;border:1px solid #55BBff;text-indent:20px;border-radius:4px;margin-top:10px;width:490px;}

.content .bordered {border: solid #dadada 1px;padding-top:5px;padding-bottom:15px; background-color:#fff;margin-right:20px;margin-bottom:20px;}
.content .bordered dt{border-bottom: solid #DFE4E7 1px;text-align:left; padding-bottom:5px;margin-bottom:5px;text-indent:15px;font-weight:bold;}
.content .bordered dd{margin-left:35px;}

.content .top-button{line-height:20px;}
.content .top-button a{display:inline-block;margin-right:12px;padding:0 11px;font-size:12px;height:25px;line-height:25px;text-align:center;background:#ddd;color:#555;cursor:pointer;}
.content .top-button a:hover{background:#dfdfdf;color:#005580;text-decoration:none;}
.content .top-button .light{background:#0088B3;color:#fff !important;}
.content .top-button .light:hover{background:#005580;}
.content .top-button select{height:25px;min-width:80px;border:1px solid #bbb;margin-right:12px;}

.content .auto{float:left;min-width:450px;}
.content .auto .t3{width:100%!important;}
.content .auto .t4{margin-left:15px;line-height:35px;}
.content .full table{width:100%;line-height:36px;text-indent:10px;border-collapse:collapse;}
.content .full table td{border-top:1px solid #ccc;white-space:nowrap;}
.content .full table th{text-align:left;font-weight:bold;white-space:nowrap;}

.content .list{margin-right:20px;padding:20px;background:#fff;margin-top:15px;border-radius:4px;border:1px solid #ccc;}
.content .list .btn{text-align:center;margin-top:5px;}
.content .list .btn input{margin:0 5px;padding:5px 10px;cursor:pointer;}
.content .list .t1{text-align:center;width:100px;}
.content .list .t2 {width:auto;}
.content .list .t2 td{border:0}
.content .list .t2 th{text-align:right;font-weight:normal;vertical-align:top;}
.content .list .t2 select{height:28px;min-width:80px;border:1px solid #aaa;margin-right:6px;color:#555;}
.content .list .t2 input[type="text"]{height:20px;padding:2px;width:150px;border:1px solid #aaa;color:#555;}
.content .list .t2 .big{width:320px!important;}
.content .list .t2 .small{width:80px!important;}
.content .list .t2 textarea{margin-top:10px;border:1px solid #aaa;width:300px;height:80px;}
.content .list .t2 input[type="file"]{font-size:13px;}
.content .list .t2 img{border:1px dotted #aaa;border-radius:4px;width:150px;}

.content a{color:#07A;text-decoration:none;}
.content a:hover{;text-decoration:underline;}

.content .tab{border-bottom:1px dotted #ccc;line-height:25px;margin-bottom:12px;}
.content .tab i{display:inline-block;padding:0 16px;background:#eee;border:1px solid #ddd;font-style:normal;margin:0 8px;margin-bottom:-1px;cursor:pointer;}
.content .tab .curr{background:#fff;border-bottom:1px solid #fff;color:#0088B3;}
.content .tab i:hover{background:#fff;}
.content .tab-each{display:none;}

.content .album{overflow:hidden;margin-bottom:16px;}
.content .album-each{width:120px;line-height:20px;text-align:center;float:left;}
.content .album-each img{width:100px;height:100px;}
.content .album-each p{margin:0;padding:0;}
.content .album-each i{display:inline-block;background:#0088B3;color:#fff;margin:0 2px;cursor:pointer;font-style:normal;font-size:12px;padding:1px 4px;}
.content .album-each i:hover{background:#005580;}
.content .album-each .light{background:#ddd;color:#666;cursor:auto;}
.content .album-each .light:hover{background:#ddd;}
.content .album-upload{padding:10px 0;}

.content .editor{margin:10px;margin-right:20px;line-height:normal;overflow: visible;}
.content .editor .edui-editor-body ul{list-style:disc;margin:1em 0;padding-left:40px}
.content .editor .edui-editor-body a{text-decoration:underline;}

.content  .pagelist{line-height:14px;margin-top:20px;overflow:hidden;}
.content  .pagelist a{display:inline-block;margin:0 3px;padding:2px 12px;border:1px solid #ccc;text-decoration:none;color:#808080;font-size:12px;height:24px;line-height:24px;background:#fff;}
.content  .pagelist a:hover{color:#0088B3;border:1px solid #0088B3;}
.content  .pagelist a.curr{border:none;background:#0088B3;border:1px solid #0088B3;color:#fff;}
.content  .pagelist i{display:inline-block;margin:0 5px;color:#808080;font-style:normal;}
.content  .pagelist span{display:inline-block;padding:2px 12px;font-size:12px;height:24px;line-height:24px;color:#bbb;border:1px solid #ccc;background:#fcfcfc;margin:0 3px;}
