<?php require COMMON_VIEW.'header.html'; ?>
<?php require COMMON_VIEW.'top.html'; ?>
<div class="main">
	<?php require COMMON_VIEW.'menu.html'; ?>
	<div class="content">
	<div class="item">
		<div class="title">会员列表</div>
		<div class="list full">
			<table>
				<tr><th>会员ID</th><th>会员昵称</th><th>联系电话</th><th>邮箱</th><th>操作</th></tr>
				<?php foreach($data['data'] as $v): ?>
				<tr><td><?=$v['id']?></td><td><?=$v['username']?></td><td><?=$v['phone']?></td><td><?=$v['phone']?></td>
				<td><a href="#">查看详情</a></td></tr>
				<?php endforeach; ?>
			</table>
		</div>
		<div class="pagelist"><?=$data['pagelist']?></div>
	</div>
	</div>
</div>
<?php require COMMON_VIEW.'footer.html'; ?>